.plupload_filelist_footer { box-sizing:content-box; }

.plupload.tab-content {
	padding-top:10px;
}

.plupload .code {
	background: #fafafa;
	border-left: #eee 5px solid;
	padding: 5px 10px;
	overflow: auto;
}

.plupload .code code {
	background: transparent;
}

/* bs callout */
.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}

.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}

.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

.bs-callout-info h4 {
    color: #5BC0DE;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}
